/* body {
    background-image: url(./img/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-brand {
    background-color: #ff8184;
}

.navbar navbar-expand-lg navbar-light bg-light {
    background-color: #ff8184;
} */